<div class="row">
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.specialItempic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.specialItem}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 168
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.commonItem1pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.commonItem1}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 18
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.commonItem2pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.commonItem2}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 30
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.commonItem3pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.commonItem3}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 36
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.talentbossPic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.talentboss}}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 18
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.talentBook1pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.talentBook1}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 9
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.talentBook2pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.talentBook2}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 63
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.talentBook3pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.talentBook3}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 114
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.crystal1pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.crystal1}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 1
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.crystal2pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.crystal2}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 9
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.crystal3pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.crystal3}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 9
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="col-lg-2">
        <mdb-card>
            <mdb-card-img src="assets/images/materials/{{ascesionMats.crystal4pic}}" alt="Card image cap">
            </mdb-card-img>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>{{ascesionMats.crystal4}}
                    </h4>
                </mdb-card-title>
                <mdb-card-text>
                    Needed: 6
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>