<section class="view intro-video">
    <video class="h-100 w-100"
    playsinline autoplay muted loop>
    <source src="assets/video.mp4" type="video/mp4">
  </video>
    <div class="mask rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3">
            <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
              <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft invisible" data-wow-delay="0.3s">Lorem ipsum dolor
                  sit amet</h2>
                <!-- <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"> -->
                <p class="wow fadeInLeft invisible" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente,
                  fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
                <br>
                <!-- <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect>Just do it!</a> -->
              </div>
            </div>

            <!-- <div class="col-lg-6 wow fadeIn">
              <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IQyauRAxvjI"
                  allowfullscreen></iframe>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>